/* עיצוב בסיסי */
body::before {
  content: '';
  background-image: url('logo.png'); /* שם קובץ הלוגו */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%; /* גודל הלוגו */
  opacity: 0.4; /* שקיפות */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* מאחורי כל האלמנטים */
}

body {
  font-family: 'Aharoni', sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  padding-top: 100px;
}

}


html {
  scroll-behavior: smooth;
}

/* תפריט עליון ותחתון */
#sticky-navbar {
  background-color: #dbb29d;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

footer {
  background-color: #dbb29d; /* צבע כמו התפריט העליון */
  color: #fff; /* טקסט בהיר */
  padding: 20px;
  text-align: center;
}

footer h2, footer p {
  margin: 10px 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.logo {
  margin-left: auto;
  display: flex;
  align-items: center;
  order: -1; /* מבטיח שהלוגו תמיד יופיע ראשון */
}

.logo img {
  width: 60px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s;
  padding: 10px 15px; /* ריווח פנימי למניעת חיתוך בצדדים */
}

nav ul li a:hover {
  color: #fff;
}

/* אנימציית fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* עיצוב מוצרים */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 30px;
}

.product {
  animation: fadeIn 1s ease-in-out;
  opacity: 0;
  animation-delay: calc(0.2s * var(--product-index));
  animation-fill-mode: forwards;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 220px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 35%;
  height: auto;
  border-radius: 8px;
}

.product h3 {
  margin: 10px 0;
  font-size: 20px;
  color: #a56b58;
}

.product p {
  margin: 0;
  font-size: 18px;
  color: #6b5b57;
}

button {
  background-color: #dbb29d;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ad836d;
}

/* כפתור הסרת מוצר */
button.remove-from-cart {
  background-color: #dbb29d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.remove-from-cart:hover {
  background-color: #ad836d;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}


.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

#prev-image, #next-image {
  margin: 10px;
  padding: 10px 20px;
  background-color: #dbb29d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#prev-image:hover, #next-image:hover {
  background-color: #ad836d;
}



/* עיצוב עגלה */
#cart {
  padding: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 30px;
  text-align: center;
}

#cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 15px;
}

#cart-items li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

#cart-total {
  font-size: 22px;
  font-weight: bold;
  color: #6b5b57;
  margin-bottom: 15px;
}

/* כפתור וואטסאפ מרחף */
.floating-whatsapp {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.floating-whatsapp:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.floating-whatsapp img {
  width: 30px;
  height: 30px;
}


/* כפתור אינסטגרם מרחף */
.floating-instegram {
  position: fixed;
  bottom: 90px;
  left: 20px;
  border-radius: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
  transition: transform 0.1s, box-shadow 0.3s;
}

.floating-instegram:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.floating-instegram img {
  width: 80px;
  height: 80px;
}

/* התאמת עיצוב לנייד */
@media screen and (max-width: 600px) {
    body {
      padding-top: 110px;
      }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 דגמים בשורה */
    gap: 10px;
  }

  .product {
    width: auto; /* כל דגם יתאים לגודל התא */
    padding: 10px; /* ריווח קטן יותר */
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  nav ul li a {
    font-size: 16px;
  }

  #sticky-navbar {
    padding: 15px;
  }
}
